<mat-toolbar color="primary">
  <span>Restbase Console</span>
  <span class="fill-remaining-space"></span>
  <span [ngSwitch]="status$ | async">
    <mat-icon *ngSwitchCase="1">cloud_done</mat-icon>
    <mat-icon *ngSwitchCase="2">cloud_off</mat-icon>
    <mat-icon *ngSwitchDefault>help_outline</mat-icon>
  </span>
</mat-toolbar>
