<mat-card>
  <mat-card-content>
      <app-field-list [document]=document></app-field-list>
      <mat-divider></mat-divider>
      <app-collection-list [document]=document></app-collection-list>
  </mat-card-content>
</mat-card>
