<div *ngIf="element$ | async as element">
  <app-toolbar [element]=element></app-toolbar>
  <app-document-editor
    *ngIf="element && element.isDocument()"
    [document]=element>
  </app-document-editor>
  <app-collection-editor
    *ngIf="element && element.isCollection()"
    [collection]=element>
  </app-collection-editor>
</div>
