.mat-toolbar.mat-accent
  background: #d4d4d4
  color: #616161

.mat-toolbar-row, .mat-toolbar-single-row
  height: 48px

.mat-toolbar
  font-size: 12px
  font-style: normal

.fill-remaining-space
    flex: 1 1 auto

.home
  cursor: pointer
  height: 24px

.home:hover
  color: #1976d2

a
  cursor: pointer

a:hover
  text-decoration: underline
  color: #1976d2
