<mat-toolbar color="accent">
  <a class="home" (click)="onRootClick()">
    <mat-icon>home</mat-icon>
  </a>

  <ng-container *ngFor="let path of element.segments()">
    <mat-icon>keyboard_arrow_right</mat-icon>
    <a (click)="onPathClick(path)">{{path.lastSegment()}}</a>
  </ng-container>

  <span class="fill-remaining-space"></span>
  <span></span>
</mat-toolbar>
