<h3 mat-dialog-title>
  <span [hidden]="data.isNew">edit</span>
  <span [hidden]="!data.isNew">new</span>
  collection
</h3>
<mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="data.collection.name">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.collection" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
