<mat-action-list dense>
  <button mat-list-item class="action-item" (click)="onAddClick()" id="btn-add-collection">
    <mat-icon>add</mat-icon>
    <span>add collection</span>
  </button>
  <button mat-list-item
    *ngFor="let collection of document.collections"
    (click)="onCollectionClick(collection)">
    <mat-icon (click)="onEditClick($event, collection)">edit</mat-icon>
    <a class="collection">{{ collection.name }}</a>
    <span class="fill-remaining-space"></span>
    <mat-icon (click)="onDeleteClick($event, collection)">delete</mat-icon>
  </button>
</mat-action-list>
