<h3 mat-dialog-title>
  delete collection
</h3>
<mat-dialog-content>
  Do you really want to delete collection {{data.collection.path().joined()}}?
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Delete</button>
</mat-dialog-actions>
