<h3 mat-dialog-title>
  <span [hidden]="data.isNew">edit</span>
  <span [hidden]="!data.isNew">new</span>
  field
</h3>
<mat-dialog-content>
  <mat-form-field class="field-key" >
    <input matInput [(ngModel)]="data.field.key">
  </mat-form-field>:
  <mat-form-field class="field-value">
    <input matInput [(ngModel)]="data.field.value">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.field" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
