<h3 mat-dialog-title>
  delete field
</h3>
<mat-dialog-content>
  Do you really want to delete field {{data.field.key}}?
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Delete</button>
</mat-dialog-actions>
