<mat-action-list dense>
  <button mat-list-item class="action-item" (click)="onAddClick()" id="btn-add-field">
    <mat-icon>add</mat-icon>
    <span style="padding-left: 8px">add field</span>
  </button>
  <button mat-list-item *ngFor="let field of document.fields | keyvalue" (click)="onEditClick(field)">
    <span class="field-key">{{ field.key }} :</span>
    <span class="field-value">{{ field.value }}</span>
    <span class="fill-remaining-space"></span>
    <mat-icon (click)="onDeleteClick($event, field)">delete</mat-icon>
  </button>
</mat-action-list>
