<h3 mat-dialog-title>
  delete document
</h3>
<mat-dialog-content>
  Do you really want to delete document {{data.document.collection}}/{{data.document.id}}?
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Delete</button>
</mat-dialog-actions>
