<mat-action-list dense>
  <button mat-list-item class="action-item" (click)="onAddClick()" id="btn-add-document">
    <mat-icon>add</mat-icon>
    <span>add document</span>
  </button>
  <button mat-list-item
    *ngFor="let document of collection.documents"
    (click)="onDocumentClick(document)">
    <a class="document">{{ document.id }}</a>
    <span class="fill-remaining-space"></span>
    <mat-icon (click)="onDeleteClick($event, document)">delete</mat-icon>
  </button>
</mat-action-list>
